<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ artistName }}</h1>
    <hr class="my-2" />
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button"
        >Jumbo action name</a
      >
    </p>
  </div>
</div>
"
<div class="row">
  <div *ngFor="let displaySameAlbums of displaySameAlbums" class="col-3">
    <div class="card" style="width: 18rem">
      <img
        src="{{ displaySameAlbums.imageUrl }}"
        class="card-img-top"
        alt="..."
        style="height: 300px"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ displaySameAlbums.name }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="text-center">
          <a (click)="onClick(displaySameAlbums.id)" class="btn btn-primary"
            >View All Song</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
